<!DOCTYPE html>
<html class="h-full" lang="en">
    {% block head %}
        <head>
            <title>{% block title %}Base{% endblock %}</title>
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <meta name="description" content="Description app"/>
            <link rel="icon" href="{{ asset('images/logo.png') }}">
            {% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
            {% endblock %}

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        </head>
    {% endblock head %}
    <body class="h-full">
        {% block header %}
            {{ include('navbar.html.twig') }}
        {% endblock header %}
        {% block main %}{% endblock main %}
        {% block footer %} {% endblock footer %}
    </body>

</html>
